

.article {
    .titulo {
        font-weight: 700;
        font-size: 3em;
        margin-top: 1em;
        margin-bottom: .4em; 
        color: darken($color: $primary, $amount: 10);
    }

    .fecha-autor {
        width: 280px;
        text-transform: uppercase;
        font-weight: 300;
        margin: 3em 0 0;
        border-top: 1px solid $primary;
        padding: .6em;
        color: darken($color: $primary, $amount: 20);

        i{
            font-size: .3em;
        }
    }

    .subtitulo {
        margin-top: 0;
        line-height: 30px;
        text-align: justify;
        font-size: 1.1em;
        font-weight: 300;
        color: $grey-text;
    }
    
    img {
        height: 400px;
        object-fit: cover;
        object-position: 50% 50%;
        margin: 2.5em 0;
    }

    .main-text {
        color: #2E3338;
        font-size: 1.2em;
        line-height: 29px;
        text-align: justify;
        margin-bottom: 3em;
        white-space: pre-line;
    }
}

@media screen and (max-width: 800px){
    .article {

        font-size: 14px;

        .titulo {
            text-align: center;

        }

        .fecha-autor {
            width: 100%;
        }
    }
}

@media screen and (max-width: 500px){

    .article .titulo{
        font-size: 2em;
    }
}

