
.articulos__container {
    background-color: $grey-background;
    padding: 50px 0;
}

.articulos__titulo {
    color: darken($color: $primary, $amount: 25);
    font-size:35px;
    margin: 0;
    margin-bottom: 20px;
}

.articulos__buscador {
    position: relative;
    

    input {
        width: 100%;
        padding-left: 40px;
    }

    .fa-search {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;
        
        &:hover {
            color: $primary;
        }
    }
}

.articulos__articulo {
    box-shadow: $shadow;
    width: 32%;

    
    img {
        height: 280px;
    }
    
    &:hover {

        img{
            opacity: .8;
        }
    }
}

.articulos__text-container {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 20px 15px;
}

.arituclos__articulo-titulo {
    font-size: 1.4em;
    font-weight: 600;
}

.arituclos__articulo-descripcion {
    color: $grey-text;
    font-size: 0.9em;
    text-transform: capitalize;
}

.articulos__paginacion-container {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 60%;
}

.articulos__paginacion {
    border: 1px solid rgba($color: $grey-text, $alpha: .1);
    background-color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 10px;

    transition: $transition;

    &:hover {
        color: $primary;
        background-color: rgba($color: $grey-text, $alpha: .1);
    }

    .activo {
        color: $primary;
        background-color: rgba($color: $grey-text, $alpha: .1);
    }
}


@media screen and (max-width: 800px) {
    .articulos__articulo {
        width: 49%;
    }

    .articulos__paginacion-container {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .articulos__articulo {
        width: 100%;
    }
}