
.articulos__container {
    background-color: $grey-background;
    padding: 50px 0;
    overflow-x: hidden;
}

.articulos__titulo {
    color: darken($color: $primary, $amount: 25);
    font-size:35px;
    margin: 0;
    margin-bottom: 20px;
}

.articulos__buscador {
    position: relative;
    input {
        width: 100%;
        padding-left: 40px;
    }

    .fa-search {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        transition: $transition;
        
        &:hover {
            color: $primary;
        }
    }
}

.articulos__articulo {
    box-shadow: $shadow;
    width: 32%;
    margin: 1.5rem .65%;
    img {
        height: 280px;
        transition: all .3s ease;
    }
    &:hover {
        img{
            opacity: .8;
        }

        .articulos__articulo-titulo {
            color: darken($color: $primary, $amount: 13);
        }
    }
}

.articulos__text-container {
    background-color: white;
    border-radius: 0 0 5px 5px;
    padding: 20px 15px;
}

.articulos__articulo-titulo {
    color: rgba($color: black, $alpha: .8);
    font-size: 1.6em;
    font-weight: 600;
    height: 62px;
    overflow: hidden;

    transition: $transition;
}

.articulos__articulo-descripcion {
    color: $grey-text;
    font-size: 1em;
    line-height: 25px;
    height: 100px;
    overflow: hidden;
}

.articulos__paginacion-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1rem;
    width: 60%;
}

.articulos__not-results-found {
    margin-bottom: 2.5rem;
}

.articulos__paginacion {
    border: 1px solid rgba($color: $grey-text, $alpha: .1);
    background-color: white;
    cursor: pointer;
    font-size: 1.2em;
    padding: 5px 10px;

    transition: $transition;

    &:hover {
        color: $primary;
        background-color: rgba($color: $grey-text, $alpha: .1);
    }

    &.active {
        color: $primary;
        background-color: rgba($color: $grey-text, $alpha: .1);
    }
}


@media screen and (max-width: 1000px) {
    .articulos__articulo {
        width: 49%;
        margin: .8rem .5%;
    }

    .articulos__paginacion-container {
        width: 100%;
    }
}

@media screen and (max-width: 650px) {
    .articulos__articulo {
        width: 100%;
    }
}