.input, .textarea {
    background: white;
    border: none;
    border-radius: 5px;
    box-shadow: $shadow;
    margin: 7px 0;
    padding: 10px 15px;
    outline: none;
}

.textarea {
    min-width: 100%;
    max-width: 100%;
}
