.legislaciones__titulo {
    color: #457B9D;
    font-size: 2.2em;
    font-weight: 700;
    margin-top: 1.2em;
    text-align: center;
}


.legislaciones__info {
    background-color: white;
    border-radius: 10px;
    margin: 2em auto 4em;
}

.legislaciones__opcion {
    background-color: rgba($color: #457B9D, $alpha: .6);
    color: $grey-text;
    font-weight: 600;
    height: 65px;
    letter-spacing: 2px;
    overflow: hidden;
    padding: 1.2em;
    text-align: center;
    width: 33.3%;

    cursor: pointer;
    transition: $transition;

    &:hover {
        background: #457B9D;
        color: lighten($color: #457B9D, $amount: 25);
    }
}

.legislaciones__opcion:first-child {
    border-radius: 5px 0 0 0 ;
}
.legislaciones__opcion:last-child {
    border-radius: 0 5px 0 0;
}


.legislaciones__container .active {
    background-color: white;
    pointer-events: none;
}

.legislaciones__body {
    padding: 1em 6em;
}

.legislaciones__body-titulo {
    font-size: 1.2rem;
    letter-spacing: 2.3px;
}

.legislaciones__body-descripcion {
    color: $grey-text;
    font-size: 1.1em;
    margin-bottom: 8px;
    line-height: 25px;
}

.legislaciones__btn {
    margin: 25px 0;
    width: 220px;
    p {
        margin-left: 10px;
    }
}

.legislaciones__responsive {
    display: none;
}

@media screen and (max-width: 800px) {
    .legislaciones__info {
        display: none;
    }

    .legislaciones__responsive {
        display: block;
        margin: 10px auto;
    }

    .legislaciones__body {
        padding: 1em 2em;

    }

    .legislaciones__opcion {
        height: auto;
        overflow: visible;
        pointer-events: none;
        width: 100%;
    }

    .legislaciones__btn {
        width: 100%;
    }
}