

.quienes-somos {
    background: url('../../assets/gravel.png');
    padding: 2rem 0 2rem;
    img {
        width: 60%;
    }
    .texto-container {
        position: relative;
        width: 60%;
        background-color: white;
        margin-left: auto;
        margin-top: -15rem;
        padding:  25px;
        z-index: 10;
        h2 {
            color: $primary;
            font-size: 3rem;
            font-weight: 300;
            text-align: center;
            margin-top: 0;
        }

        p {
            line-height: 28px;
        }

        p:nth-child(2) {
            margin-bottom: 1rem;
        }
    }
}