

.redes {
    background-color: $primary;
    color: white;
    padding: 30px 0;
    text-align: center;
}

.redes p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.redes .redes-container {
    width: 30%;
    margin: 0 auto;
    font-size: 1.8rem;
   
}

.redes .redes-container i {
    cursor: pointer;
}

.redes i {
    transition: $transition;

    &:hover {
        transform: scale(1.15);;
    }
}

@media screen and (max-width: 700px) {
    .redes .redes-container {
        width: 50%;
    }

}


