// *************  EDIT SCREEN *************
.edit__main {
    height: 100vh;
    width: 70%;

    transition: $transition;
}

.edit__active {

    .edit__sidebar {
        overflow: hidden;
        width: 0;
    }   

    .edit__main {
        width: 100%;
    }

    .arrow {
        transform: rotate(180deg);
    }
}


// *************  SIDEBAR  *************
.edit__sidebar {
    background: $dark-background;
    color: white;
    height: 100vh;
    width: 30%;

    transition: $transition;
}

.edit__sidebar-navbar {
    padding: 0 15px;

    p{
        font-weight: 300;

        &:hover{
            opacity: .8;
        }
    }
}

.edit__new-entry {
    margin-top: 20px;
    i{
        margin-right: 20px;
    }

    &:hover {
        opacity: .8;
    }
}

.edit__sidebar-arrow {
    display: none;
}

// *************  NOTHING SELECTED  *************

.edit__nothing-container {
    align-items: center;
    background-color: darken($color: $primary, $amount: 25);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    p{
        text-align: center;
    }

}

// **************  EDIT ARTICLES ************

.edit__articles {
    flex: 1 1 auto;
    //ESTO DESPUES SE SACA!!!!!!!!!!!!!!!!
    height: 75vh;
    margin-top: 30px;
    overflow-y: scroll;
}

.edit__article {
    background-color: white;
    border: 4px;
    color: $grey-text;
    display: flex;
    margin-bottom: 10px;
    max-height: 75px;
    overflow: hidden;

    cursor: pointer;

    &:hover{
        opacity: .8;
    }
}

.edit__article-picture {
    min-height: 75px;
    max-height: 75px;
    max-width: 100px;
    min-width: 100px;
    object-fit: cover;
}

.edit__article-body {
    padding: 10px;
}

.edit__article-title {
    font-size: 14px;
    font-weight: bold;
}

.edit__article-content {
    font-size: 10px;
}

.edit__article-date-box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;

    span{
        font-size: 12px;
    }
}


@media screen and (max-width: 800px) {
    .edit__sidebar {
        width: 100vw;

        .edit__sidebar-arrow{
            display: block;
            background: $dark-background;
            color: white;
            border: none;
            transform: rotate(180deg);

            cursor: pointer;
        }
    }

    .edit__main {
        width: 0;
    } 

    .edit__active .arrow{
        transform: rotate(0);
    }
}