@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    background-color: $grey-background;
}

html, body, p {
    margin: 0;
}

a {
    color: white;
}

img {
    width: 100%;
    vertical-align: middle;
}

// Clases Bootstrap-Like

.container {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
}

.mt-1 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 25px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 25px;
}

.d-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex-wrap {
    flex-wrap: wrap;
}

.pointer {
    cursor: pointer;
}

.container {
    width: $width;
    max-width: $max-width;
    margin: 0 auto;
}

.t-center {
    text-align: center;
}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
